DEEPSEEK_API_KEY=your_deepseek_key_here
GLM_API_KEY=your_glm_key_here
DASHSCOPE_API_KEY=your_dashscope_key_here
HF_TOKEN=your_hf_token_here
MODELSCOPE_TOKEN=your_modelscope_token_here
WANDB_API_KEY=your_wandb_key_here
